*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

body{
    background-color: hsl(206, 92%, 94%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-btn {
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 2px;
    border-radius: 50%;
    width: 40px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.top-btn:hover {
    box-shadow: 0 0 10px 3px gray;
    cursor: pointer;
    color: #000;
}
    

.maindivB{
    display: flex;
    padding: 50px ;
    margin: 52px;
}

.maindivA{
    display: flex;
    padding: 30px ;
}

.maindiv h1{
    margin-left: 10px;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.profile-card{
    position: relative;


    min-width: 400px;
    height: 500px;

    overflow: hidden;
    padding: 10px;
    margin-left: 10px;
}

.profile-card-image{
    opacity: 0.3;
}

.card-head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 200px;
}

.card-head-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-content{
    position: absolute;
    inset:0;
    /* background: #000000ee; */
    background-color: #00ccff;
    color: black;
    box-shadow: 0px 0px 10px 2px #ffcc00;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    opacity: 0;
}

.card-head:hover .hover-content{
    opacity: 1;
    cursor: pointer;
}

.hover-content p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    transform: translateY(50px);
}

.hover-content .social-link{
    font-size: 26px;
    transform: translateY(90px);
}

.card-head:hover h4,
.card-head:hover p,
.card-head:hover .social-link{
    opacity: 0;
}

.card-head:hover h4,
.card-head:hover p,
.card-head:hover .social-link{
    opacity: 1;
    transform: translateY(0);
}

.hover-content .social-link ion-icon{
    opacity: 0.0;
}

.hover-content h2{
    padding: 7px;
}

.card-body{
    position: absolute;
    bottom: 15px;
    left:49%;
    margin: 5px;
    transform:translateX(-50%);
    text-align: center;
    margin-bottom: -10px;
}

.card-body h4{
    font-size: 26px;
    color:#202020;
}

.card-body p{
    font-size:18px ;
    color: #141414;
}

.social-link a{
    text-decoration: none;
    color:black;
}

.rtc-img{
    width: 700px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px rgb(58, 57, 57);

}
.rtc-container{
   text-align: center;
}
.rtc-para,p{
    padding: 10px;
     font-size: 20px;
     text-align: center;
     font-weight: bold;
}

