*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

body{
    background-color: hsl(206, 92%, 94%);;;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-btn {
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 2px;
    border-radius: 50%;
    width: 40px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.top-btn:hover {
    box-shadow: 0 0 10px 3px gray;
    cursor: pointer;
    color: #000;
}
    

.maindiv h1{
    padding: 25px;
    font-size: 70px;
    margin-left: 30vw;
}


.maindivB{
    display: flex;
    padding: 10px ;
    margin: 52px;
}

.maindivA{
    display: flex;
    padding: 10px ;
    margin: 52px;
    

}


.profile-card{
    position: relative;
    min-width: 450px;
    height: 600px;
    overflow: hidden;
}

.profile-card-image{
    opacity: 0.3;
}

.card-head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 300px;
}

.card-head-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-content{
    position: absolute;
    inset:0;
    /* background: #000000ee; */
    background: #2770a8;
    color: #f1f1f1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    opacity: 0;
}

.card-head:hover .hover-content{
    opacity: 1;
    cursor: pointer;
}

.hover-content p{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    transform: translateY(50px);
}

.hover-content .social-link{
    font-size: 26px;
    transform: translateY(90px);
}

.card-head:hover h4,
.card-head:hover p,
.card-head:hover .social-link{
    opacity: 0;
}

.card-head:hover h4,
.card-head:hover p,
.card-head:hover .social-link{
    opacity: 1;
    transform: translateY(0);
}

.hover-content .social-link ion-icon{
    opacity: 0.0;
}

.hover-content h2{
    padding: 6px;
}

.card-body{
    position: absolute;
    bottom: 35px;
    left:49%;
    transform:translateX(-50%);
    text-align: center;
    margin-bottom: -16px;
}

.card-body h4{
    font-size: 26px;
    color:#202020;
}

.card-body p{
    margin-top: -10px;
    font-size:18px ;
    color: #141414;
}

.hover-content a{
    text-decoration: none;
    color: antiquewhite;
}
