.container {
    background-color: hsl(206, 92%, 94%);
    height: 850px;
    width: 100wh;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.main-card {
    background-color: white;
    height: 680px;
    width: 950px;
    margin-bottom: 100px;
    box-shadow: 0px 2px 7px gray;
    border-radius: 10px;
    box-shadow: 0px 3px 20px #ffcc00;
}

.card {
    display: flex;
    border-radius: 10px;
}

.card1 {
    border-radius: 20px;
    width: 900px;
    margin: 20px;
    height: 500px;
    display: flex;
    justify-content: end; 
}
.back{
    margin-left: 920px;
    margin-top: 20px;
    font-size: 20px;
}
.card2 {
    border-radius: 20px;
    background-color: transparent;
    height: 400px;
    width: 500px;
    margin-top: 60px;
    margin-left: 5px;
}

.img {
    border-radius: 20px;
    width: 800px;
    height: 470px;
    margin-top: 20px;
    box-shadow: 0px 2px 7px gray;
}

.txt {
    font-size: 40px;
    font-family: courgette;
    margin: 30px;
    margin-left: 100px;
}

.btn {
    height: 50px;
    width: 350px;
    background-color: whitesmoke;
    margin: 8px;
    border: none;
    margin-left: 18px;
    border-radius: 10px;
}
.btn:hover{
    height: 52px;
    width: 352px;
    box-shadow: 2px 2px 2px gray;
}


.submit {
    height: 50px;
    width: 120px;
    background-color: #00ccff;
    border: none;
    box-shadow: 1px 1px 5px skyblue;
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    color: black;
}

.submit:hover {
    height: 52px;
    width: 122px;
    cursor: pointer;
    background-color: rgb(100, 220, 224);
    transition: 0.4s;
    color: black;
}

.bottom-card {
    height: 100px;
    width: 950px;
    background-color: #00ccff;
    display: flex;
    justify-content: space-evenly;
    margin-top: 14px;
    margin-bottom: 0%;
    padding: 0;
    box-shadow: 1px 1px 5px rgb(87, 83, 83);
    align-items: center;
}

.bt-card {
    color: white;
    font-size: 15px;

    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bt-txt {
    font-size: 18px;
    margin: 2px;
}

.text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.image {
    width: 40px;
    margin-top: 10px;
}

.bt-card {
    color: white;
    font-size: 15px;
    height: 80px;
}


.heading {
    font-size: 20px;
    font-weight: bold;
}

.color {
    color: black;
    font-size: 18px;
    
}

.class,b {
    font-size: 22px;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    box-shadow: 1px 1px 5px black;
}
.decoration{
    text-decoration: none;
    color: black;
}
.top-btn{
    color:black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}
.top-btn:hover{
    box-shadow: 0 0 10px 3px gray;
    cursor: pointer;
    color: #000;
}