*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: hsl(206, 92%, 94%);
}

.home-img{
    box-shadow: 0 0 10px 1px #ffcc00;
}

.img{
    width: 35px;
}

.icon{
    width: 35px;
    margin-top: 0;
}

.icon1{
    width: 45px;
}
.footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
}

.links {
    width: 300px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.links h2{
    font-size: 20px;
}

.sub-links{
    width: 200px;
    height: 200px;
}

.sub-links a{
    font-size: 15px;
    font-weight: 700;
    color: rgba(110, 109, 109, 0.979);
    text-decoration: none;
}

.social-menu{
    padding: 5px;
    padding-top: 50px;
}
.social-menu ul {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;

}

.social-menu ul li{
    list-style: none;
    margin: 0 auto;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 50px;
    transition: .3px;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 0 5px 4px rgba(95, 94, 94, 0.767);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0,0,0,0.829);
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover{
    background-color: #002E6E;
}

.top-btn {
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 2px;
    border-radius: 50%;
    width: 40px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.top-btn:hover {
    box-shadow: 0 0 10px 3px gray;
    cursor: pointer;
    color: #000;
}
    

